/* ========== ALL / MOBILE VERSION ========== */

/* Navbar */
.navbar-brand {
    font-family: Viga;
    font-size: 32px;
}
/* End Navbar */

/* Utility */
.tombol {
    text-transform: uppercase;
    border-radius: 40px;
}
/* End Utility */

/* ========== END ALL / MOBILE VERSION ========== */



/* ========== DESKTOP VERSION ========== */

@media (min-width: 992px) {
    /* Navbar */
    .navbar-brand {
        font-family: Viga;
        font-size: 32px;
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }

    .nav-link:hover::after {
        content: '';
        display: block;
        border-bottom: 3px solid #0B63DC;
        width: 50%;
        margin: auto;
        padding-bottom: 5px;
        margin-bottom: -8px;
    }
    /* End Navbar */    
}

/* ========== END DESKTOP VERSION ========== */