/* ========== MOBILE VERSION ========== */


/* ========== END MOBILE VERSION ========== */



/* ========== DESKTOP VERSION ========== */
@media (min-width: 992px) {
    /* Navbar */
    .navbar-brand {
        font-family: Viga;
        font-size: 32px;
    }

    .nav-link {
        text-transform: uppercase;
        margin-right: 30px;
    }
    /* End Navbar */    
}
/* ========== END DESKTOP VERSION ========== */